<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="container">
      {{>header}}
      <p>This site was created by DaJuan Harris. It uses data from mapbox.com and darksky.net</p>
      <img class="portrait" src="/img/me.jpg" alt="">
    </div>
    {{>footer}}
  </body>
</html>